body{
    font-family: 'Montserrat', sans-serif;
}
.error_input{
    border: 2px solid #ED4C67;
}
fieldset{
    border: 1px solid #c3c3c3;
    width: 64%;
    padding: 10px 5px;
    box-sizing: border-box;
}

/* Estilos del banner */

#banner{
    height: 300px;
    background-image: url('../imgs/home.jpg');
    background-size: cover;
    background-position: center;

}

/* Estilos del formulario */
#contacto{
    display: flow-root;
    padding-top: 30px;
}
.columna_izq{
    width: 45%;
    float: left;
}
.columna_der{
    width: 45%;
    float: right;
}
#contacto .columna_izq{
    text-align: center;
}
#contacto .columna_izq h1{
    font-size: 26px;
    margin-bottom: 25px;
}
#contacto .columna_izq p{
    margin-bottom: 25px;
    line-height: 22px;
}
#contacto #frm_contacto label{
    display: inline-block;
    width: 150px;
}
#contacto #frm_contacto input[type=text] , #contacto #frm_contacto input[type=email]{
    width: 210px;
    height: 30px;
   
}
#contacto #frm_contacto textarea{
    width: 210px;
    height: 100px;
    
}
#contacto #frm_contacto div{
    margin-bottom: 20px;
}
#contacto #frm_contacto button{
    background: #2e86de;
    font-size: 16px;
    padding: 10px;
    width: 170px;
    color: #fff;
    margin: 0 auto;
    display: block;
}
#contacto #frm_contacto button:hover{
    background: #54a0ff;
    
}

