body{
    font-family: Montserrat;
}

/* Estilos header */

.header_principal{
    background: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
    
}
.header_principal nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
.header_principal nav a:hover{
    color: #48dbfb;
}
/* Estilos de la tabla */
.tabla_info thead tr{
    background: #353b48;
    color: #fff;
}
.tabla_info tbody tr{
    border-bottom: 2px solid #2e86de;
}
.tabla_info tbody tr:hover{
    background: rgba(84, 160, 255,0.4);
    
}
.tabla_info tr th, .tabla_info tr td{
    padding: 20px 10px;
}